* {
  box-sizing: border-box;   
}

body {
    background-image: url("binding_light.png");
    margin: 0 auto;
    width: 1280px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 75px;
    background-color: white;  
    margin-bottom: 75px;
}

#name {
    width: 165px;
    height: 75px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 150px;
    float: left;
}

#header-nav {
    
    display: block;
    margin-right: 177px;
    font-size: 110%;
    line-height: 4em;
    word-spacing: 3px;
    float: right; 
}

a:link {
    text-decoration: none;
    color: dimgray;
}
a:visited {
    text-decoration: none;
    color: teal;
}

a:hover {
    color: blue;
}

a:active {
    text-decoration: underline;
}

.clear {
    clear:both;
}

#about-me {
    width: 650px;
    height: 350px;
    color: #4aaaa5;
    background-color: white;
    font-size: 125%;
    font-weight: bold;
    margin-left: 150px;
    padding: 25px;
    float: left;
}

#image-me {
    margin-right: 10px;
    float: left;
}

.about-para {
    color: black;
    font-size: 90%;
    font-weight: normal;
    line-height: 1.35em
}

#connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 270px;
    height: 150px;
    margin-top: 10px;
    padding: 20px;
    margin-right: 125px;
    background-color: white;
    text-align: center;
    float: right;
}
form {
    width: 625px;
    height: 520px;
   background-color: white;
    padding: 35px;
    float: left;
}

#name-color {
    color: #4aaaa5;
    font-size: 22px;
    font-weight: bold;
}

.button {
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 15px 30px;
}

#portfolio {
    width: 650px;
    height: 580px;
    background-color: white;
    padding: 40px 50px 40px 70px;
    float:left;
}

div.img {
    margin: 15px 30px;
    border: none;
    float: left;
    width: 125px; 
    height: 125px; 
}

div.img:hover {
    border: 4px solid red;
}

div.img img {
    width: 100%;
    height: auto;
}

.image-wrapper {
    position: relative;
    width: 250px;
    float: left;
    
}
.image-wrapper p {
    position: absolute;
    bottom: 25px;
    padding: 10px;
    border: 1px solid #FFF;
    width: 160px;
    color: #FFF;
    text-align: center;
    background-color: #4aaaa5;
    margin: 10px;
    float: left; /* dunno */
}

#connect-with {
    font-size: 125%;
    color: #4aaaa5;
    width: 270px;
    height: 150px;
    margin-top: 10px;
    padding: 20px;
    margin-right: 125px;
    background-color: white;
    text-align: center;
    float: right;
}

.clear {
    clear:both;
}


#above-footer {
    margin-bottom: 0;
    margin-top: 50px;
    border: 0;
    border-top: 5px solid #388E8E;
    border-bottom: 5px solid #388E8E;
}

footer {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 5em;
    background-color: dimgray;
    color: darkgrey;
    
}






